<!doctype html>
<html>

  <head>

    <style>
      #nav{
      display: inline-block;
      }
    </style>

    <h2>Scheduler</h2>
  </head>

  <body>

    <h3>Existing Schedules:</h3>

    {% if count == 0 %}
      <p>{{ msg }}..</p>
    {% else %}
      <ul>

        {% for schedule in schedules %}

          {% set id = 'pool' + (schedule[0]|string) %}

          {% set function = (schedule[1]|string) %}

          {% if schedule[2] < 12 %}
            {% set startHour = (schedule[2]|string) %}
            {% set startPer = 'am' %}
            {% if schedule[2] == 0 %}
              {% set startHour = '12' %}
            {% endif %}

          {% elif schedule[2] >= 12 %}
            {% set startHour = ((schedule[2] - 12)|string) %}
            {% set startPer = 'pm' %}
            {% if schedule[2] == 12 %}
              {% set startHour = (schedule[2]|string) %}
            {% endif %}
          {% endif %}

          {% set startMin = (schedule[3]|string) %}
          {% if startMin == '0' %}
            {% set startMin = '00' %}
          {% endif %}

          {% if schedule[4] < 12 %}
            {% set stopHour = (schedule[4]|string) %}
            {% set stopPer = 'am' %}
            {% if schedule[4] == 0 %}
              {% set stopHour = '12' %}
            {% endif %}

          {% elif schedule[4] >= 12 %}
            {% set stopHour = ((schedule[4] - 12)|string) %}
            {% set stopPer = 'pm' %}
            {% if schedule[4] == 12 %}
              {% set stopHour = (schedule[4]|string) %}
            {% endif %}
          {% endif %}

          {% set stopMin = (schedule[5]|string) %}
          {% if stopMin == '0' %}
            {% set stopMin = '00' %}
          {% endif %}

          <li>
            {{ function }} {% if function.endswith('s') == true %}are{% elif function.endswith('s') == false %}is{% endif %} set to turn on at {{ startHour }}:{{ startMin }} {{ startPer }} and turn off at {{ stopHour }}:{{ stopMin }} {{ stopPer }} (id = {{ id }})
         </li>

        {% endfor %}
      </ul>
    {% endif %}

    <br>

    <form action = "{{ url_for('scheduler') }}" method = POST>
      <h3>Add New Schedule:</h3>
      <fieldset>
        {{ form.function.label }}<br>
        {{ form.function }}<br>

        <br>

        Start Time:<br>
        {{ form.startHour.label }}: {{ form.startHour }}<br>
        {{ form.startMin.label }}: {{ form.startMin }} (optional)<br>

        <br>

        Stop Time:<br>
        {{ form.stopHour.label }}: {{ form.stopHour }}<br>
        {{ form.stopMin.label }}: {{ form.stopMin }} (optional)<br>

        <br>

        {{ form.submit }}
      </fieldset>
    </form>
  </body>

  <footer>
    <nav>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/edit">Edit existing schedule</a></li>
    </nav>
  </footer>
</html>
